{% extends "task/base.html" %}
{% comment %} {% block content %}
  <h1>Home</h1>
  {{block.super}}
  <a href="/apps/task/about">About</a>
{% endblock %} {% endcomment %}

{% block content %}
  <h1>Home</h1>
  <div id="result">
    <table>
      <tr>
        <th>Task ID</th>
        <th>Task Name</th>
      </tr>
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $.ajax({
      url: '/apps/task/api/tasks',
      type: 'GET',
      success: function(response){
        console.log('Kết quả trả về:')
        console.log(response);
        let keys = Object.keys(response);
          keys.forEach(key => {
            $('#result table').append(`
            <table>
              <tr>
                <td>${key}</td>
                <td>${response[key]}</td>
              </tr>
            </table>
            `);
          });
      }
    });
  </script>
{% endblock %}

